<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hii</h1>
    <form action="{% url 'charge' %}" method="post">
        {% csrf_token %}
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{key}}"
    data-description = "Payment Gateway"
    data-amount ='500'
    data-locale="auto"></script>
</form>
</body>
</html>